<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MjA4OTY3MDcsInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCJlMzQ4OWQ3YS01ZDZlLTQyODEtYTdkNi1jNTVkNzQ2MmFjZGVcIixcInNlY3JldEtleVwiOlwiZDc4MzUxNzZmYTMxNDBkZGE0ZDkwZTdkOGQyY2RkNzVcIn0ifQ.2azsZCemZTZycMTHPw0CkqSaAHXCTmBV09IW4DxfasQ" />
    <option name="deviceId" value="e3489d7a-5d6e-4281-a7d6-c55d7462acde" />
    <option name="refreshToken" value="208289656e69406f824927a51ce53fc3" />
  </component>
</application>